<html>
<% include header %>
<h1>Create work</h1>
<form action="/create" method="post" enctype="multipart/form-data">
  <input name="name" type="text" class="form-control"
     placeholder="Name / Link" required autofocus>
  <input name="info" type="text" class="form-control"
     placeholder="Information about this project" required> <br>
  <br>
  <input name="photos" type="file" class="form-control"  placeholder="choose an image" accept="image/*" multiple>
   <br>
  <input type="submit" value="create" class="btn btn-primary btn-block">
</form>
<% include footer %>
